@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&family=Sora:wght@400;500;600;700&display=swap");
:root {
  --main-color: #6a5af9;
}
body {
  background: var(--main-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
.text {
  font-weight: 500;
}
.text-small {
  margin-top: 5px;
  font-size: 16px;
}
.root {
  width: 100%;
  max-width: 400px;
}
.wrapper {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 2px solid #eee;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s linear;
  margin-bottom: 30px;
}
.search-box #search {
  outline: none;
  background: none;
  border: none;
  width: 100%;
}
.weather-content {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.weather-content .weather-img {
  background-color: #6a5af9a5;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
}
.weather-content .weather-img img {
  width: 100%;
  height: auto;
}
.weather-content .weather-temp {
  font-size: 50px;
  font-weight: 600;
}
.weather-content .weather-desc::first-letter {
  text-transform: capitalize;
}
.weather-content .weather-desc,
.weather-content .city-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.weather-bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  /* padding-bottom: 10px; */
  border-top: 2px solid #6a5af9;
}
.weather-bottom i {
  font-size: 25px;
}
.wind-section {
  border-right: 2px solid var(--main-color);
}
.wind-section,
.humidity-section {
  width: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ---------------toast message------------- */
.toast {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 6px;
  font-weight: 600;
  color: red;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 8px solid red;
  overflow: hidden;
  transform: translateX(150%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}
.progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: red;
}
.progress.active::before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
.toast.active {
  transform: translateX(0);
}

/* ------ responsive ---------- */
@media screen and (max-width: 480px) {
  .toast {
    top: 50px;
    right: 30px;
    color: red;
    font-size: 15px;
    border: 2px solid rgba(255, 0, 0, 0.559);
    padding: 15px 30px 15px 20px;
  }
}

@media screen and (max-width: 380px) {
  .toast {
    top: 10px;
    right: 30px;
    color: red;
    font-size: 13px;
    padding: 15px;
  }
  .weather-bottom i {
    font-size: 20px;
  }
  .text {
    font-weight: 500;
    font-size: 14px;
  }
  .text-small {
    margin-top: 5px;
    font-size: 13px;
  }
  .weather-content .city-name {
    font-size: 16px;
  }
}
